.block{
    width: 1024px;
    margin: 0 auto;
    background-color: #d2b48c;
}
h1 {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas: 
    "info foto";
    background-color: #d2b48c;
    margin: 20px;
    border: 2px dotted black;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    }
.info {
    grid-area: info;
}
.foto {
    grid-area: foto;
    justify-self: center;
}
img {
    width: 200px;   
    height: 200px; 
    padding: 60px 0px 10px 0px;
    }
p{
    padding-bottom: 10px; 
    }